h2 {
  margin: 0;
}

.panel {
  width: 100%;
  margin: 0;
  padding: 0;
}

.left, .right {
  float: left;
  padding: 30px 100px 10px 100px;
  text-align: center;
  width: 50%;
  box-sizing: border-box;
}

.label {
  color: black;
  font-size: 90%;
  text-align: left;
}

.btn {
  margin-bottom: 20px;
}